<select name="id_tags" id="tags" name="label" class="select">
    <option value="-1" disabled selected>Choose a tag for this sneakers</option>
    {{#each tags}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>